.menu-bar {
    background-color: var(--color-black);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
  
    position: relative;
  }
  
  .menu-bar ul {
    list-style: none;
    display: flex;
  }
  
  .menu-bar ul li {
    /* width: 120px; */
    padding: 10px 30px;
    /* text-align: center; */
  
    position: relative;
  }
  
  .menu-bar ul li a {
    font-size: 20px;
    color: var(--color-white);
    text-decoration: none;
  
    transition: all 0.3s;
  }
  
  .menu-bar ul li a:hover {
    color: var(--color-primary);
  }
  
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  
   
    /* RESPONISVENESS */
  @media (max-width: 100%) {
    .about {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      grid-gap: 40px;
    }
  }
  
  @media (min-width: 300px) {
    .about {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      grid-gap: 20px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  
  
  
  @font-face {
      font-family: 'Berlin Sans FB';
      font-style: normal;
      font-weight: normal;
      src: local('Berlin Sans FB'), url('./fonts/BerlinSansFBWebfont/BRLNSR.woff') format('woff');
  }
  
  @font-face {
      font-family: 'Berlin Sans FB Bold';
      font-style: normal;
      font-weight: normal;
      src: local('Berlin Sans FB Bold'), url('./fonts/BerlinSansFBWebfont/BRLNSB.woff') format('woff');
  }
  
  *,
  *::before,
  *::after {
      margin: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }
  
  :root {
      --color-base: #3184a5;
  }
  
  html {
      overflow-x: hidden;
  }
  
  body {
      position: relative;
      font-family: 'Lato', sans-serif;
  }
  
  
  a:active {
      background: transparent !important;
  }
  
  .section-title h1 {
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      font-family: BerlinSansFBDemiBold;
  }
  
  .section-title h1 span {
      color: var(--color-base);
  }
  
  .section-title p {
      position: relative;
      color: #333;
      font-size: 1.1rem;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2.8px;
      font-family: 'Acme', sans-serif;
  }
  
  /* Header
  ------------- */
  .header {
      position: relative;
      z-index: 999999 !important;
  }
  
  .header.active {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation: animate 0.4s ease forwards;
      animation: animate 0.4s ease forwards;
  }
  
  @-webkit-keyframes animate {
      from {
          -webkit-transform: translateY(-10rem);
          transform: translateY(-10rem);
      }
  
      to {
          -webkit-transform: translateY(0);
          transform: translateY(0);
      }
  }
  
  @keyframes animate {
      from {
          -webkit-transform: translateY(-10rem);
          transform: translateY(-10rem);
      }
  
      to {
          -webkit-transform: translateY(0);
          transform: translateY(0);
      }
  }
  
  /* navbar */
  .navbar {
      background: lightblue;
      border-bottom: 1px solid #ddd;
      font-family: BerlinSansFBDemiBold;
  }
  
  .nav-content {
      position: relative;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }
  
  .navbar-brand {
      padding-left: 5rem;
  }
  
  .navbar-brand img {
      height: 7rem;
      width: 10rem;
  }
  
  .nav-item .nav-link.active {
      color: var(--color-base) !important;
  }
  
  .navbar .nav-item:hover .nav-link {
      color: var(--color-base) !important;
  }
  

  
  .main-menu ul li {
      padding: 0 0.6rem;
  }
  
  ul brand{
    padding-left: 5rem;

  }
  .ul-brand img {
    height: 7rem;
    width: 10rem;
}
    ul {
  list-style: none;
  background: lightblue;
      border-bottom: 1px solid #ddd;
      font-family: BerlinSansFBDemiBold;
      position: relative;
      position: fixed;
      width: 100%;
top: 1;
      left: 0;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation: animate 0.4s ease forwards;
      animation: animate 0.4s ease forwards;

    }
    ul li {
    display: inline-block;
    position: relative;
    padding: 0 0.6rem;
    }
    ul li a {
        color: #3184a5;
        text-decoration: none;
    }
    ul li ul.dropdown li {
    display: block;
    background: lightblue;   
    margin: 2px 0px;
    }
    ul li ul.dropdown {
    width:auto;
    position: absolute;
    z-index: 999;
    display: none;
    }
    ul li a:hover {
        color: #3184a5;
        background-color: var(--color-black);
    }
    ul li:hover ul.dropdown{
    display: block;
    }